
h1{
	color: orange;
	font-family: sans-serif;
	text-align: center;
}



.kotak{
	padding: 30px;
	width: 100px;
	color: #fff;
	margin: 10px;
	background: deepskyblue;	
}
 
#kotak{
	width: 100px;
	color: #fff;
	background:red;
	padding: 50px;
}